In [1]:
from splinter import Browser
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
# Print the path to chromedriver
!which chromedriver

/usr/local/bin/chromedriver

In [3]:
# Execute path to chromedriver
executable_path = {"executable_path": "/usr/local/bin/chromedriver"}

## NASA Mars News

In [4]:
# Open a Chrome browser
browser_news = Browser("chrome", **executable_path, headless=False)

In [5]:
# URL of page to be scraped
url_news = "https://mars.nasa.gov/news/"

# Visit URL in browser
browser_news.visit(url_news)

In [6]:
# Create BeautifulSoup object; parse with 'lxml'
html_news = browser_news.html
soup_news = BeautifulSoup(html_news, "lxml")

In [7]:
# Save the latest article's title
news_title = soup_news.find("div", class_ = "content_title").text
print(news_title)

# Save the latest article's description
news_body = soup_news.find("div", class_ = "article_teaser_body").text
print(news_body)

NASA's Briefcase-Size MarCO Satellite Picks Up Honors
The twin spacecraft, the first of their kind to fly into deep space, earn a Laureate from Aviation Week & Space Technology.

## JPL Mars Space Images - Featured Image

In [8]:
# Open a Chrome browser
browser_image = Browser("chrome", **executable_path, headless=False)

In [9]:
# URL of page to be scraped
url_image = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"

# Visit URL in browser
browser_image.visit(url_image)

In [10]:
# Create BeautifulSoup object; parse with 'lxml'
html_image = browser_image.html
soup_image = BeautifulSoup(html_image, "lxml")

In [11]:
# Get the image name to include in full version of featured image
name_image = soup_image.find("article", class_ = "carousel_item")["alt"]

In [12]:
# Name the base url
url_base = "https://www.jpl.nasa.gov"

# Add the specifics for the featured image
url_full_image = soup_image.find(attrs={"data-title":name_image})["data-fancybox-href"] 

# Combine the two for the final url
featured_image_url = url_base + url_full_image

# Print complete url
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA20316_ip.jpg

## Mars Weather

In [13]:
# Open a Chrome browser
browser_weather = Browser("chrome", **executable_path, headless=False)

In [14]:
# URL of page to be scraped
url_weather = "https://twitter.com/marswxreport?lang=en"

# Visit URL in browser
browser_weather.visit(url_weather)

In [15]:
# Create BeautifulSoup object; parse with 'lxml'
html_weather = browser_weather.html
soup_weather = BeautifulSoup(html_weather, "lxml")

In [21]:
# Save the latest tweet with weather readings from Mars
mars_weather = soup_weather.find("p", class_ = "TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text
print(mars_weather)

InSight sol 359 (2019-11-30) low -99.3ºC (-146.8ºF) high -21.8ºC (-7.2ºF)
winds from the SSE at 5.8 m/s (13.0 mph) gusting to 23.3 m/s (52.0 mph)
pressure at 6.70 hPapic.twitter.com/cKJj2YTDad

## Mars Facts

In [22]:
# URL for the table containing facts about Mars
url_facts = "https://space-facts.com/mars/"

In [23]:
# Scrape the website for tables
tables_facts = pd.read_html(url_facts)
tables_facts

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [27]:
# Create a dataframe for the table of info about Mars
mars_facts = tables_facts[0]
mars_facts.columns = ["Category", "Fact"]

mars_facts

               Category                           Fact
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [29]:
html_facts = mars_facts.to_html(header=None,index=False)
html_facts = html_facts.replace('\n', '')
html_facts

'<table border="1" class="dataframe">  <tbody>    <tr>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

## Mars Hemispheres

In [ ]:
db = client.mars_db
collection = db.marsInfo

In [ ]:
# URL of page to be scraped
url = "https://mars.nasa.gov/news/"

# Retrieve page with the requests module
response = requests.get(url)
# Create BeautifulSoup object; parse with 'lxml'
soup = BeautifulSoup(response.text, "lxml")

In [ ]:
results = soup.find_all("div", class_="grid_layout")

for result in results:
    # Error handling
    try:
        # Identify and return title of article
        title = result.find("div", class_ = "content_title").text
        # Identify and return teaser sentence
        body = result.find("div", class_ = "rollover_description_inner").text

        # Run only if title, price, and link are available
        if (title and body):
            # Print results
            print("-------------")
            print(title)
            print(body)

            # Dictionary to be inserted as a MongoDB document
            post = {
                "title": title,
                "body": body,
            }

            collection.insert_one(post)

    except Exception as e:
        print(e)